h1 {
  color: white;
  font-size: 24px;
}
body {
  background-color: #81a251;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#entireForm {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
#container_cu_doua {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #131c07;
}
#numele,
#prenumele,
#ad_email,
#numarul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}
#country,
#address,
#subject {
  color: #131c07;
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#numele input,
#prenumele input,
#ad_email input,
#numarul input {
  width: 400px;
  height: 40px;
  border: none;
  background-color: #81a251;
  border-radius: 8px;
}
input::placeholder {
  color: white;
  padding-left: 16px;
}
label {
  padding-bottom: 8px;
}
#country select {
  width: 825px;
  height: 40px;
  background-color: #618b25;
  border-radius: 8px;
  border: none;
  color: white;
  padding-left: 16px;
}
#address input {
  border: none;
  background-color: #618b25;
  border-radius: 8px;
  width: 825px;
  height: 40px;
}
button {
  text-align: center;
  background-color: #131c07;
  border: none;
  font-size: 14px;
  color: #efefff;
  border-radius: 8px;
  padding: 16px 32px;
  font-size: 14px;
  margin-top: 8px;
  width: 832px;
}
#text_subject {
  background-color: #3a5316;
  width: 800px;
  height: 200px;
  border: none;
  border-radius: 8px;
  padding: 16px;
}
#text_subject::placeholder {
  color: white;
}
