* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
header {
  background-image: url(images-eshop/header-background.jpg);
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding: 25px 150px 150px;
}
h1 {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff80;
  padding: 70px;
}
#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 70px auto;
}
#new_prod {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  flex-basis: 350px;
  margin: 0 auto 70px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.product_image img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
#product_badge {
  position: absolute;
  width: 5%;
  background-color: orange;
  color: white;
  align-self: flex-end;
  border-radius: 5px;
  margin: -10px -10px -19px;
  padding: 5px;
  font-weight: 400;
  text-align: center;
  z-index: 1;
}
#product_details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
.bold_text {
  font-weight: bold;
}
.price {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  font-size: medium;
  font-weight: bold;
}
.price_tag {
  font-family: "Berkshire Swash";
  font-size: 32px;
}
.rating img {
  width: 16px;
  height: 16px;
}
.rating {
  display: flex;
  justify-content: flex-start;
}
.product_options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product_options h5 {
  font-weight: bold;
}
.marime button {
  background-color: lightseagreen;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
}
.select_option {
  padding: 8px 16px;
  border-radius: 5px;
  border-color: lightseagreen;
}
.add_to_cart {
  width: 100%;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: orange;
  font-size: 20px;
  cursor: pointer;
  margin-top: 40px;
}
.add_to_cart:hover {
  transform: scale(1.02);
  background-color: lightseagreen;
}
.product_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px 5px 0 0;
}
.product_image:hover .product_overlay {
  opacity: 1;
}
.quick_view {
  padding: 10px 15px;
  background-color: #f39c12;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.quick_view:hover {
  background-color: lightseagreen;
}
#card2 {
  order: -1;
}
.product_image {
  position: relative;
}
