* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(Frame\ 2\ no.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Comic Neue";
  font-size: 500px;
  font-weight: bold;
  background: -webkit-linear-gradient(#c9daff, #97a3c5);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  text-align: center;
}
button {
  font-family: "Roboto";
  font-size: 32px;
  padding: 12px 24px;
  border-color: #97a3c5;
  border-radius: 32px;
  border: hidden;
  text-align: center;
  background-color: #97a3c5;
  color: #fffeff;
  margin-left: 42%;
}
button:hover {
  background-color: #fffeff;
  color: #97a3c5;
}
